<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>629638894695-n6k1kiklaievuv1bmngi7pd8hpc9l1rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629638894695-n6k1kiklaievuv1bmngi7pd8hpc9l1rc</string>
	<key>API_KEY</key>
	<string>AIzaSyAOR_Y_Bdftsy2OlBn48GM1SQ1uq6erX6c</string>
	<key>GCM_SENDER_ID</key>
	<string>629638894695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irealestate.app</string>
	<key>PROJECT_ID</key>
	<string>irealestate-1518792113059</string>
	<key>STORAGE_BUCKET</key>
	<string>irealestate-1518792113059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629638894695:ios:f226c3452c7f290a</string>
	<key>DATABASE_URL</key>
	<string>https://irealestate-1518792113059.firebaseio.com</string>
</dict>
</plist>