<!-- <ion-nav [root]="rootPage"></ion-nav> -->

<ion-menu [content]="content" persistent=true type="push">
    <ion-content>
      <div class="avatar-section">
        <img menuClose [src]="this.user_detail.picture!= null ? this.user_detail.picture : './assets/imgs/drawer/avatar.png'" alt="default avatar" (click)="profile()">
        <h4 class="user_name">{{ this.user_detail?.first_name }} {{ this.user_detail?.last_name  }}</h4>
      </div>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button menuClose ion-item *ngIf="isLogin" (click)="logout()">Logout</button>
      </ion-list>
    </ion-content>

  </ion-menu>
<div *ngIf="showSplash" class="splash">
  <div class="spinnercustom">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content ></ion-nav>
